.App {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

.menu {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.arm-select-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.arm-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #003a57;
    border-radius: 5px;
    background-color: #026d8f;
    color: white;
    margin: 5px;
}

.arm-btn:hover {
    background-color: #1eb1d2;
    /* color: #3f45f8; */
}

.arm-sliders {
    margin-left: 20px;
}
